/fetched_*/
/scripts/fetched_*/

# Server files
cache/
/libraries/
/logs/
/plugins/Essentials/userdata
/plugins/Essentials/warps/*
/plugins/Essentials/custom_items.yml
/plugins/Essentials/items.json
/plugins/Essentials/kits.yml
/plugins/Essentials/usermap.bin
/plugins/Essentials/uuids.bin
/plugins/Essentials/worth.yml
/plugins/FastAsyncWorldEdit/lang/
/plugins/Geyser-Spigot/locales/
/versions/
/worlds/
/banned-ips.json
/banned-players.json
/help.yml
/ops.json
/usercache.json
/version_history.json
/whitelist.json
