cache/
/.paper/
/libraries/
/logs/
/plugins/CommandSpy/state.bin
/plugins/Essentials/userdata
/plugins/Essentials/warps/*
/plugins/Essentials/custom_items.yml
/plugins/Essentials/items.json
/plugins/Essentials/kits.yml
/plugins/Essentials/usermap.bin
/plugins/Essentials/uuids.bin
/plugins/Essentials/worth.yml
/plugins/Extras/prefixes.yml
/plugins/FastAsyncWorldEdit/lang/
/plugins/Geyser-Spigot/locales/
/plugins/spark/tmp/
/versions/
/worlds/
/banned-ips.json
/banned-players.json
/ops.json
/usercache.json
/whitelist.json
